{{#if listado.length }}
    {{#each listado}}
    <div class="product-box">
        <img alt="" src="{{foto}}">
        <strong>{{nombre}}</strong>
        <span class="quantity">1 KG</span>
        <span class="price">${{precio}}</span>
        <!--cart-btn------->
        <a href="#" class="cart-btn" onclick="agregarCarrito(event,{{id}},this)">
            <i class="fas fa-shopping-bag"></i> Add Cart
        </a>
        <!--like-btn------->
        <a href="#" class="like-btn">
            <i class="far fa-heart"></i>
        </a>
    </div>
    {{/each}}
{{else}}
    <div></div>
{{/if}}
